<div class="jumbotron">
  <h1>About</h1>
  <p>This website is for manage batches. You can add some batches and we will calculate for you the benefits</p>
  <p>The graphics and the table are from <a href="http://www.shieldui.com/">Shield-UI website </a></p>
</div>