<form role="form">
  <div class="container">
    <div class="row">	   
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Name of the lot</label>
              <input class="form-control" placeholder="Name">
            </div>
            <p>
            <div class="form-group">
              <label>Description of the lot</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
            </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            List of Lots </h3>
        </div>
        <div class="panel-body">
          <button type="button" class="btn btn-primary">Add</button>
          <div id="shieldui-grid1"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
</form>