<form role="form">
  <div class="container">
    <div class="row">	   
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Name of the lot</label>
              <input class="form-control" id="test" placeholder="Name">
            </div>
            <div class="form-group">
              <label>Categorie</label>
              <input class="form-control" placeholder="Categorie">
            </div>
            <p>
            <div class="form-group">
              <label>Description of the lot</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
            </p>
            <div class="form-group">
              <label>Buy Price</label>
              <input class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
              <label>Sold Price</label>
              <input class="form-control" placeholder="Name">
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                <label>Buy Date</label>
                  <div id="calendar" ></div>
                </div>
                <div class="col-md-3">
                  <label>Sold Date</label>
                  <div id="calendarSold" class="theme-light" ></div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            List of Lots </h3>
        </div>
        <div class="panel-body">
          <button type="button" class="btn btn-primary">Add</button>
          <div id="shieldui-grid1"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
</form>
<script>
  //TODO : RECUP VALEUR CALENDRIER, METTRE A JOUR LE SOLD PAR RAPPORT AU BUY
  $(function () {
  $("#calendar").shieldCalendar({
    focused: new Date(2016, 2, 31)
  });
  $("#calendarSold").shieldCalendar({
    focused: new Date(2016, 2, 31),
    min: new Date("2014/2/23"),
    max: new Date("2039/3/1"),
    value: new Date()
  });
});</script>