<div class="row">
  <div class="col-lg-12">
    <h1>Home <small>Welcome <%= current_user.firstname %></small></h1>
  </div>
</div>

<div class="jumbotron">
  <h1>What's your current state ?</h1>
  <div id="shieldui-chart-profits"></div>
</div>