<style>
  div {
    padding-bottom:20px;
  }
</style>

<div class="row text-center register-div">
  <h2>New Registration</h2>
</div>
<div class="register-div">
  <label for="firstname" class="col-md-2">
    First Name:
  </label>
  <div class="col-md-9">
    <input type="text" class="form-control" id="firstname" placeholder="Enter First Name">
  </div>
  <div class="col-md-1">
    <i class="fa fa-lock fa-2x"></i>
  </div>
</div>
<div class="register-div">
  <label for="lastname" class="col-md-2">
    Last Name:
  </label>
  <div class="col-md-9">
    <input type="text" class="form-control" id="lastname" placeholder="Enter Last Name">
  </div>
  <div class="col-md-1">
    <i class="fa fa-lock fa-2x"></i>
  </div>
</div>
<div>
  <label for="emailaddress" class="col-md-2">
    Email address:
  </label>
  <div class="col-md-9">
    <input type="email" class="form-control" id="emailaddress" placeholder="Enter email address">
    <p class="help-block">
      Example: yourname@domain.com
    </p>
  </div>
  <div class="col-md-1">
    <i class="fa fa-lock fa-2x"></i>
  </div>
</div>
<div>
  <label for="password" class="col-md-2">
    Password:
  </label>
  <div class="col-md-9">
    <input type="password" class="form-control" id="password" placeholder="Enter Password">
    <p class="help-block">
      Alphanumeric only
    </p>
  </div>
  <div class="col-md-1">
    <i class="fa fa-lock fa-2x"></i>
  </div>

  <label for="password" class="col-md-2">
    Confirm Password:
  </label>
  <div class="col-md-9">
    <input type="confirm_password" class="form-control" id="confirm_password" placeholder="Enter Password again">
  </div>
  <div class="col-md-1">
    <i class="fa fa-lock fa-2x"></i>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-10">
    <button type="submit" class="btn btn-primary">
      Register
    </button>
  </div>
</div>
