<div class="page-header" id="banner">
	<div class="row">
		<div class="col-lg-8 col-md-7 col-sm-6">
			<h1><%=@lot.name %></h1>
			<p class="lead">Created at <%= @lot.created_at %></p>
		</div>
	</div>
</div>

<form class="form-horizontal">
	<fieldset>
		<%= render 'form' %>
	</fieldset>
</form>