<% if @lot.user_id == current_user.id%>
<div class="page-header" id="banner">
	<div class="row">
		<div class="col-lg-8 col-md-7 col-sm-6">
			<h1><%=@lot.name %></h1>
			<p class="lead">Created at <%= @lot.created_at.to_date %></p>
			<%= link_to 'Delete',lot_path(@lot.id), :method => :delete,:class=>"btn btn-danger",data: { confirm: "The batch and these children will be delete.
Are you sure?" } %></p>
		</div>
	</div>
</div>

	<fieldset>
		<%= render 'form' %>
	</fieldset>
<% else %>
	<div class="page-header" id="banner">
		<div class="row">
				<h1>What are you doing ?</h1>
		</div>
	</div>
<% end %>