<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <h1>Profit per batch</h1>
    </div>
  </div>
</div>

<div id="shieldui-chart-benefits"></div>

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <h1>Sold / Buy</h1>
    </div>
  </div>
</div>

<div id="shieldui-chart-bought-sold" />